# Android emulator: http://10.0.2.2:8080
# iOS simulator: http://127.0.0.1:8080
# Physical phone: use the computer's LAN IP, for example http://192.168.1.20:8080
EXPO_PUBLIC_API_URL=http://192.168.1.20:8080
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=android-client-id.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=ios-client-id.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=web-client-id.apps.googleusercontent.com
